a {
    color: black;
    text-decoration: none;
}

.otherMonth {
    background-color: #EEE;
}

.termin_data {
    position: relative;
    background-color: white;
    text-align: center;
    width: 4.5em;
}

.termin_data:hover {
    background-color: #55BBFF;
}

.termin_data_number {
    margin: 0.1em;
    font-size: 5em;
    color: #CACACA;
}

.termin_data_info_short {
    color: rgb(230,255,255);
}

.termin_data_event {
    background-color: #FF2222;
}

.heute {
    border: 0.2em solid blue;
}

.termin_days {
    text-align: center;
    padding: 0.2em 1.5em;
    width: 4.5em;
}

.monat_wahl_vorher {
    font-size: 1.4em;
}
.monat_wahl_weiter {
    float: right;
    font-size: 1.4em;
}


.popUps {
    display: none;
    position: fixed;
    background-color: white;
    color: black;
    top: 5em;
    left: 5em;
    right: 5em;
    bottom: 5em;
    border-radius: 15px;
    z-index: 12;
    border: thin solid black;
    border-top: none;
}

.popUps a{
    color: white;
    text-decoration: none;
    background-color: #1D6AD3;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 0.42em;
}

