body{
    font-family: Gill, Helvetica, sans-serif;
    background: #E8E7FB;
}
nav#loginMenu{
    border: thin solid #1F7BE4;
    background-color: #1F7BE4;
    color: #E8E7FB;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: 0px 3px 8px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 1em;
}
#domainLogo{
    border: thin solid #1F7BE4;
    color: #E8E7FB;
    font-size: xx-large;
    background: #1F7BE4;
    font-weight: 900;
    width: 5.4em;
    font-family:"courier",Georgia,Serif;
    float: left;
    margin: 0.5em 0em -2em 10em;
}
#loginMenuContent{
}
#loginMenuContent table{
    margin: 0em 10em;
}
#loginMenuContent form{
    float: right;
    margin: 0.5em;
    font-size: 17px;
}
#loginMenuContent button{
    border: thin solid #004390;
    background-color: #004390;
    color: #E8E7FB;
    border-radius: 5px;
    padding: 0.69em;
    font-size: 14px;
}
#loginMenuContent button:hover{
    box-shadow: 0px 0px 5px black;
}
#loginMenuContent input[type="email"], #loginMenuContent input[type="password"]{
    margin-right: 1.337em;
    padding: 0.69em;
    font-size: 13px;
}
#loginMenuContent img{
    float: left;
    width: 100px;
    height: 35px;
}
#subLogin{
    font-size: 14px;
    color: #BFBFBF;
}
#subLogin a{
    text-decoration: none;
    color: #BFBFBF;
}
#subLogin a:visited{
    text-decoration: none;
    color: #BFBFBF;
}
#content{
    margin: 5em 10em;
}
#contentPic{
    margin: 10em 0em 0em 10em;
}
#contentPic img{
    width: 337px;
    height: 337px;
    float: left;
}
#contentText{
    float: left;
    margin: 2em 0em 0em 4em;
}
#contentText a{
    text-decoration: none;
    color: black;
}
#contentText a:visited{
    text-decoration: none;
    color: black;
}
#registryUser, #registrySchool{
    width: 22.6em;
    padding: 2.3em;
    margin-bottom: 1em;
    font-weight: bold;
}
#registryUser:hover, #registrySchool:hover{
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
footer .footerLink{
    width: 33.19%;
    border: thin solid grey;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 1.42em 0em;
    background-color: lightgray;
    color: gray;
    font-size: 17px; 
}