form{
    float: right;
}
nav#loginMenu{
    border: thin solid #1F88FF;
    background-color: rgb(31, 136, 255);
    color: white;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
}
nav#loginMenu input{
    padding: 0.42em;
    width: 20em;
}
#loginMenuContent{
    margin: 2em 10.69em;
}