input#name{
    width: 12.4em;
}
#registryBottom{
    text-align: left;
    margin-left: 2.3em;
    font-size: 1.1em;
}
#registryBottom a{
    color: #1F88FF;
}
#registryBottom button{
    font-size: 1.1em;
    margin-left: 9em;
}

#registryBottom p#agbAccept{
    margin: 0 auto;
    padding-left: 0.76em;
    font-family: "lucida grande", arial, sans-serif;
}

#registryFailMessage{
    color: red;
    text-align: center;
    margin-top: 0.69em;
    margin-bottom: -1.42em;
}
#schools{
    margin: 1.5em;
}
data#schoolID{
    border: thin solid #004390;
    background-color: #004390;
    color: #E8E7FB;
    border-radius: 5px;
    padding: 0.69em;
    font-size: 14px;
}
data#schoolID:hover{
    box-shadow: 0px 0px 5px black;
}
.schoolName{
    background-color: white;
    color: black;
    width: 27em;
    padding: 0.5em;
    margin: 0.42em auto;
    font-size: 1em;
}
