table{
    margin: 2.5em auto;
    border-collapse: collapse;
}
table td, table th{
    text-align: center;
    padding: 0.7331em;
}
table th:nth-child(2){
    border-right: 0.1337em solid blue;
}
table td:nth-child(2){
    border-right: 0.1337em solid blue;
}
table th{
    border-bottom: 0.1337em solid blue;
}
table tbody tr{
    border-radius: 5px;
}
table tbody tr:hover{
    background-color: lightgrey;
    box-shadow: 0px 0px 10px black;
}
textarea#lesson{
    width: 1.4em;
    height: 1em;
    padding: 1em;
    resize: none;
}
textarea#time{
    resize: none;
    width: 8em;
    height: 1em;
    padding: 1em;
}
textarea#subject{
    width: 8.56em;
    resize: none;
    height: 1em;
    padding: 1em;
}