body{
    text-align: center;
}
form{
    width: 37em;
}
form input, select{
    font-size: 1em;
    width: 35em;
    padding:0.42em;
    margin: 0.42em;
}

input#schoolname{
    width: 35em;
}

#registryHeader input[type="email"], input#password{
    width: 16.3em;
}
#contactPC select{
    width: 16em;
}
#contactPC input#town{
    width: 10.49em;
}
#contactPC input#PC{
    width: 5em;
}
#street input#streetname{
    width: 23em;
}
#street input#streetnumber{
    width: 9.6em;
}
#street input{
    width: 13em;
}
#numbers input{
    width: 16.3em;
}