
/* - - - Alles - - - */
body{
    font: 100.01% sans-serif;
    background-color: #F1F1FF;
    height: 100%;
}
img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}
a:visited {
    text-decoration: none;
    color: black;
}

a {
    outline: 0;
}

/* - - - Obenmenue - - - */
#usermenu{
    color: black;
    background: #1F7BE4;
    padding: 12px 0px 9px 0px;
    height: 20px;
    width: 100%;
    left: 0%;
    top: 0%;
    position: fixed;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.976;
    z-index: 1;
    white-space:nowrap;
    box-shadow: 2px 2px 2px black;
}
#usermenu a{
    text-decoration: none;
}
#usermenu .links{	
    margin: 0em 0em 0em 12em;
    float: left;
    position: fixed;
    color: black !important;
}
#usermenu .links a{	
    color: black;
    margin-right: 10px;
}
#usermenu .links a:hover{
    color: #F1F1F1;
}
#usermenu img{
    margin: -0.3em -1em 0.5em 3.3em;
    float: left;
    height: 30px; 
}

/* - - - mainmenu - - - */
#mainmenu{
    left: 0%;
    height: 123%;
    padding: 1em 0em 0.5em 0em;
    margin: 0.6em 0em 0em 0em;
    position: absolute;
    text-align: center;
    width: 14em;
    min-height: 100%;
    float: left;
    background-color: #2BA1FF;
    color: #0401BA;
    z-index: 0;
}
#mainmenu a{
    text-decoration: none;
}
#mainmenu h3{
    text-align: center;
    color: white;
    margin: 0.2em 0em 1.2em 0.2em; 
}
#mainmenu .links a{
    color: black;
    background-color: #1F88FF;
    display: block;
    box-shadow: 1px 1px 2px #000;
    text-decoration: none;
    margin: 7px 10px 7px 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px; 
}
#mainmenu a:hover{
    color: #F1F1FF; 
}

/* Fixed background

#mainmenu #background {
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    width: 14em;
    background-color: #2BA1FF;
    z-index: -123;
}

*/

/* - - - Main - - - */
#main{
    background-color: #F1F1FF;
    color: black;
    width: 79.57%;
    margin-left: 13.5em;
    margin-top: 1.94em;
    min-height: 39.56em;
    text-align: left;
    padding: 1em 1em 1em 1em;	
}
#main h2{
    text-align: center;
}
#newsfeed{
    text-decoration: none;
}
#newsfeed a{
    text-decoration: none;
}

.newPic {
    background-color: #E1E1E1;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px; 
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    text-decoration: none;
    width: 90%;
}
.newStatus .picture a{
    color: #1F88FF;
    margin: 0em 0em 1em 0em;
} 
.newPic .picture img{
    width: 125px;
    height: 125px;
}
.newPic .details{
    margin: -8em 0em 7em 9em;
}
.newPic .action{
    border: thin solid #E1E1E1;
    background-color: #ABCDEF;
    margin: -6em 0em 3em 9em;
    padding: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.newStatus{
    background-color: #E1E1E1;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px; 
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    text-decoration: none;
    width: 90%;
}
.newStatus .picture img{
    width: 125px;
    height: 125px;
}
.newStatus .details{
    margin: -8em 0em 7em 9em;
}
.newStatus .action{
    border: thin solid #E1E1E1;
    background-color: #ABCDEF;
    margin: -6em 0em 3em 9em;
    padding: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.taetschel_button{
    border: thin solid #A1A1E1;
    color: rgb(31, 136, 255);
    padding: 0.1337em;
    text-align: center;
    width: 7em;
}
.taetschel_button img{
    width: 30px;
    height: 30px;
}
.index_post_action{
    padding: 0.1337em;
    margin: -2.5em 0em 0em 9em;
}

@media only screen and (max-width: 850px){
    #usermenu, #usermenu .links{
        position: absolute;
    }
    #usermenu {
        width: 53em;
    }
}