body{
    background-color: rgb(232, 231, 251);
    padding: 1em 10em;
}
h2{
    text-align: center;
}
section#content{
    padding: 2em 7em;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 15px;
}

section#content h3{
     margin-bottom:0px
}

div#backToLinks{
    text-align: center;
}

div#backToLinks a{
    text-decoration: none;
}

div#backToLinks a:active, a:visited, a:active:visited{
    color: blue;
}

div#lastUpdate{
    text-align: center;
    margin-top: 1em;
    margin-bottom: -1em;
    font-style: italic;
}